<ion-view title="Sing K Mou" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-mic-b"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"><img src="img/logo.png" /></i> -->
      <img src="img/logo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="singKMou-button4" class="button button-positive button-block" ng-click="toBooking()">Go To Booking</button>
  </ion-content>
</ion-view>
